# [uvm-trace]
CALI_SERVICES_ENABLE=cuptitrace,recorder
CALI_CUPTITRACE_ACTIVITIES=device,uvm

# [uvm-report]
CALI_SERVICES_ENABLE=cuptitrace,report
CALI_CUPTITRACE_ACTIVITIES=device,uvm
CALI_REPORT_CONFIG="select cupti.uvm.kind as Kind,count(),scale(cupti.uvm.bytes,1e-6) as MB,scale(cupti.activity.duration,1e-9) as Time group by cupti.uvm.kind where cupti.uvm.kind format table"
